* {
    box-sizing: border-box;
}

.spinner {
    position: relative;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
 }
 
 .spinner::before,
 .spinner::after {
    border-radius: 50%;
    position: absolute;
    content: '';
    display: block;
 }
 
 .spinner::before {
    width: 13px;
    height: 13px;
    border: 0.2rem dashed #1D2226;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: loading_spinner 0.75s infinite linear reverse;
 }
 
 .spinner::after {
    animation: loading_spinner 0.5s infinite linear;
    height: 29px;
    width: 29px;
    border: 0.22rem dashed #1D2226;
    border-right-color: transparent;
    border-top-color: transparent;
 }
 
 @keyframes loading_spinner {
    to {
       transform: rotate(360deg);
    }
 }
