* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 @media only screen and (max-width: 800px) {
    .preview_image_container img {
        width: 7.5rem !important;
        bottom: 0 !important;
    }

    .previewing-title {
        display: none;
    }
 }
